.number
{
    width: 60px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 9px black;
    border-radius: 80px;
    /* color: orange;*/
    color: white;
    background-color: #2f2e2e;

    font-family: Arial;
    font-size: 20px;

}


.number:hover
{

    transition: all ease-in 0.1s ;
    font-weight: bold;
}

.equal{
    /* background-color:orange; */
    background-color:#6fdfe5;

    color: black;
}

.equal:hover
{

    color: white;
    font-weight: bolder;
}

.sign
{
    color: black;
    /* background-color: rgb(239, 167, 32); */
    background-color: #0096FF;
    /* font-weight: bold; */
}

.c{
    background-color: #a5a5a5;
}

.del{
    background-color: #a5a5a5;

}